html {
    background-color: #eee;
}

body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    margin-top: 0px;
}

#container {
    width: 100%;
    min-width: 970px;
}

/* ********** HEADER ********** */
#header {
    padding: 5px 5px 0px 5px;
    background: url("../images/banner_gsbl_v7.jpg") repeat-x scroll left top #EEEEEE;
    height: 75px;
}

.sitelogo {
    text-decoration: none;
    color: #DF8F00;
    float: left;
    margin: 7px 13px;
    position: relative;
}

.sitelogo:hover{
    color: red;
}

.sitelogo span {
    font-family: serif;
    font-style:  italic;
    font-size:   44px;
    position: relative;
    top: -15px;
}

#system_info {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #272727;
    text-align: right;
    font-weight: bold;
}
/* *** ****************** *** */


/* ********** MENU ********** */
#menu {
    padding: 7px 0px 7px 15px;
    margin-bottom: 10px;
    background-color: #444;
    text-align: left;
    font-size: 13px;
}

#menu ul {
    margin: 0px;
}

#menu li {
    margin-right: 15px;
    display: inline;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu li a:hover {
    text-decoration: underline;
}

#menu li.active a {
    font-weight:bold;
    text-decoration: underline;
}

#sub-menu {
    height: 14px;
    margin-top: 5px;
}

.admin-menu {
    float: right;
}

.sub-main {

    margin-left: 40px;
    font-size: 12px;
}

.sub-admin {
    float: right;
    margin-right: 15px;
}
/* *** ****************** *** */


/* ********** CONTENT ********** */
#content {
    margin-left: auto;
    margin-right: auto;
    min-width: 904px;  /* for 1024px min-width page */
    padding: 0px 10px 15px 10px;
}

#content h1 {
    margin-bottom: 5px;
    font-size: 140%;
    padding: 3px;
    color: #333;
    background-color: #ccf;
}

ul li { /* override base-min.css*/
    list-style: none;
}
input[type=text], input[type=password], textarea { /* override base-min.css*/
    width: 26.6em;
}

td, th {
  border: 0px;
  padding: 5px;
}

th {
  font-weight: bold;
}

input[disabled="disabled"],
input[readonly="1"],
input[readonly="readonly"] {
    background-color: gainsboro;
}

.support-table a {
    text-decoration: none;
}
.support-table span {
    float: left;
    position: relative;
    top: -2px;
}

/*div.label {
    display: inline-block;
}*/
/* *** ********************* *** */


/* ********* FOOTER ********* */
#footer {
    clear: both;
    padding: 10px 25px 10px 0px;
    font-family: arial,sans-serif;
    font-size: 80%;
    float: right;
    color: #666;
}

#footer a {
    text-decoration: none;
    color: #666;
}

#footer img {
    vertical-align: bottom;
}
/* *** ****************** *** */


/* ********** 404 *********** */
#error_404 {
    height: 410px;
    left: 50%;
    margin: -205px 0 0 -191px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 382px;
}
/* *** ****************** *** */
