@CHARSET "UTF-8";

div#simulated_data_chart,
div#market_share_evolution_chart {
  margin: 10px 0px 0px 5px;
  width: 760px;
  height: 350px;
}

div#sdc_miniature,
div#msec_miniature {
	float: right;
	margin: 10px 5px 0px 2px;
  width: 150px;
}

p#sdc_legend,
ul#msec_choices {
  margin-left: 10px
}

div#sdc_overview,
div#msec_overview {
  width: 150px;
  height: 70px;
}

#msec_choices li > div {
    display: inline-block;
    margin-right: 3px;
}

.legend > table > tbody > tr > td {
  padding: 2px;
}
