@CHARSET "UTF-8";

.ui-tabs-vertical ul.ui-tabs-nav {
    width: 17%;
}

div.ui-tabs-vertical .ui-tabs-panel {
    width: 80% !important;
}

div#simulated_data_chart,
div#market_share_evolution_chart {
    width: 650px;
    height: 350px;
    position: relative;
    margin: 10px 0px 0px 5px;
}

div#sdc_miniature,
div#msec_miniature {
    float: right;
    margin: 10px 5px 0px 2px;
    width: 120px;
}

ul#sdc_choices,
ul#msec_choices {
    margin-left: 10px;
}

div#sdc_overview,
div#msec_overview {
    width: 120px;
    height: 70px;
}

#sdc_choices li > div,
#msec_choices li > div {
    display: inline-block;
    margin-right: 3px;
}

div.legend {
    display: none;
}

.legend > table > tbody > tr > td {
    padding: 2px;
}

li {
    list-style: none !important;
}
