@CHARSET "UTF-8";

div.ui-widget-content{
  /*border:1px solid #A6C9E2;*/
  width: 200px;
  display: inline-block;
}

fieldset#sf_fieldset_graph {
  float: right;
  margin-left: 5px;
  width: 450px;
  height: 420px;
}

div#market_penetration_chart {
  margin-top: 10px;
  width: 450px;
  height: 270px;
}

div#miniature {
  position: relative;
  top: 15px;
  width: 450px;
}

p#overviewLegend {
  float: left;
  margin-left: 10px
}

div#overview {
  float: right;
  margin-right: 20px;
  width: 155px;
  height: 100px;
}

#sf_admin_container ul li a
{
  padding-left: 20px;
  background: url(../images/admin/default.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_new a
{
  background: url(../images/admin/new.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
  background: url(../images/admin/delete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_list a
{
  background: url(../images/admin/list.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  background: url(../images/admin/edit.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_show a {
  background: url(../images/icons/magnify.png) no-repeat 0 0;
}
